@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    width: 100%;
}
.main{
    width: 90%;
    height: 100%;
    margin:auto;

}
.titlePage{ 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.titleTable{
    text-align: left;
    padding: 5px;
}
nav{
    border: 1px solid black;
    width: 100%;

}
nav ul li{
    list-style: none;
    display: inline-flex;
}
.mainTable{
    width: 100%;
    height: 100%;
    empty-cells: show;
    border: 1px black solid;
    border-collapse: collapse;
    overflow: scroll;

}
.mainTable td{
    
    border: 1px black solid;
    padding-left: 5px;
    padding-right: 5px;
}
.mainTable tr{

    height: 25px;
}
.tableHead{
    width: 100%;
    background-color: lightgray;
    padding-right: 0px;
}
.tableBody{
    width: 100%;
    background-color: lightblue;
}
.txtSearch{
    width: 170px;
    float: right;
    margin-right: 5px;
}
#optMois{
    width: 170px;
    float: right;
    margin-right: 5px;
}
.tableFooter{
    width: 100%;
    background-color: #a3a3a3;
}
table tr:nth-child(even){
    background-color:#9cc3d0;
}
.smallTable tbody tr td span{
    pointer-events: none;
}