/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 nov. 2017, 09:21:58
    Author     : MEDDEBK
*/

.topnav{

 
margin: auto;
border: solid black 1px;
width: 100%;
height: 50px;
line-height: 50px;
}
 .left ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
	} 
.left li{
    float: left;
    display: inline;
    padding-right: 15px;
    padding-left: 5px;
}
.right li{
    float: right;
    display: inline;
    padding-left: 15px;
    padding-right: 5px;
}
 .right ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
}
#profilPic{
    vertical-align: middle;
}
.toolTip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.toolTip .toolTipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.toolTip:hover .toolTipText {
    visibility: visible;
    opacity: 1;
}